<header id="content-header">
  <h1>Registrations for <%= link_to @event.name, @event %></h1>
</header>

<ol>
  <% @registrations.each do |registration| %>
    <li>
      <%= mail_to registration.email, registration.name %>
      ( <%= registration.how_heard %> )
    </li>
  <% end %>
</ol>
